body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaeaea;
}
a{
    text-decoration: none;
}

/* Common begin */

.max__sizing{
    max-width: 70rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.item:not(a:last-child) {
    margin-right: 22px ;
}   
.item:not(a:first-child) {
    margin-left: 22px;
}
/* Common end */

/* Header begin */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.header__logo{
    height: 50px;
    width: 130px;
    background-image: url(../images/Logo/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header__item{
    color: #494949;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    transition: border-bottom 150ms;
}

.header__item:hover{
    border-bottom: 2px solid red;
}

/* Header end */

/* Main begin */

.main__create{
    background-image: url(../images/common/bcg_pizza.jpg);
    height: 660px;
}
.create__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.create__information{
    width: 600px;
    height: 220px;
    color: #fff;
}


.create__title{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
.create__information-text{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 35px;
}

.create__information-button{
    border: 2px solid white;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: background-color 300ms ease,
    color 300ms ease;
}

.create__information-button:hover{
    background-color: white;
    color: black;
}

.create__img-pizza{
    width: 515px;
    background-size: contain;
}

.main__progress{
    height: 985px;
    width: 100%;
}

.prorgess__wrap{
    text-align: center;
    padding-top: 123px;
}

.progress__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 27px;
}
.progress__title::before,
.progress__title::after{
    content: '';
    position: absolute;
    background-image: url(../images/main/Wave.png);
    display: block;
    width: 102px;
    height: 28px;
    top: calc(50% - 14px);
}
.progress__title::before{
    left: 0;
}
.progress__title::after{
    right: 0;
}

.progress__description{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 18px;
}
.progress__nav{
    margin-top: 48px;
}
.progress__items-active{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #494848;
    text-transform: uppercase;
    border-bottom: 4px solid red;
    position: relative;
    padding-bottom: 12px;
}
.progress__items-active::before{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid red;
}
.progress__items{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #494848;
    text-transform: uppercase;
}

.instruction{
    margin-top: 63px;
    width: 1170px;
    height: 407px;
    background-color: white;
    color: #282828;
}
.instruction__item{
    display: flex;
    justify-content: space-between;
}
.instruction__limiter{
    max-width: 285px;
    max-height: 285px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;

}
.instruction__number{
    font-size: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform:uppercase;  
}

.instruction__limiter:last-child span:first-child{
    padding-right: 10px ;
}
.instruction__title{
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900; 
    text-transform:uppercase;  
}
.instruction__text{
    font-family: 'Roboto', sans-serif;
}
.instruction__text p:last-child {
    border-right: 2px solid grey;
}
.instruction__wall{
    width: 5px;
    height: 50px;
}
.instruction__button{
    width: 475px;
    height: 102px;
    background-image: url(../images/main/instruction__button.png);
    background-size: cover;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 90px;
}
.button__wrapper{
    display: flex;
    justify-self: center;
}
.button__text{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
/* Main end */

/* Footer begin */
footer{
    margin-top: 70px;
    height: 106px;
    width: 100%;
    background-image: url(../images/common/bcg_pizza.jpg);
    display: flex;
    justify-content: center;
}
.footer__wrapping{
    margin: auto 0;
}
.footer__text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
/* Footer end */